# Dependencies
node_modules/

# Environments & Leftovers
.env
/generated/
WEBHOOKFORGE_BUILD_GUIDE.md

# Build Output
dist/

# SQLite Database Files
*.db
*.db-journal
*.db-shm
*.db-wal

# System Debris
.DS_Store
*.log

WEBHOOKFORGE_WALKTHROUGH.md
INTERVIEW_PREP.md
README.md